<div class="flex flex-col items-center h-screen w-screen">
  <div class="text-center">
    <app-title title="{{dataQuestions.title}}"></app-title>
  </div>

  <div class="">
    <app-main-question questionMain="{{dataQuestions.listQuestion[index].question}}"></app-main-question>
  </div>

  <div class="grid grid-cols-2 gap-10 mt-10">
    <div *ngFor="let currentIssue of dataQuestions.listQuestion[index].options">
      <app-question question="{{ currentIssue.name }}" (click)="mechanism(currentIssue.alias)"></app-question>
    </div>
  </div>
</div>
